{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<div class="columns is-mobile is-centered">
    <div class="column is-half">

        {% for notification in notifications %}

            <!------COMMENT only------>
            {% if notification.notification_type == 2 %}
                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <a href="{% url 'profile' notification.sender %}">
                                    {% if notification.sender.profile.picture %}
                                        <img class="is-rounded" src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
                                    {% else %}
                                        <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">                              
                                    {% endif %}
                                </a>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <strong>{{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }}</strong> 
                                <small>@{{ notification.sender.username }}</small>
                            <br>
                            Commented:
                            <p>
                                {{ notification.text_preview }}
                            </p>
                            <strong><small>{{ notification.date|naturaltime }}</small></strong>
                            </div>
                        </div>

                        <!--Picture being commented on-->
                        <div class="media-right">
                            <figure class="image is-128x128">
                                <a href="{{ notification.post.get_absolute_url }}">
                                    <img src="{{ notification.post.picture.url }}">
                                </a>
                            </figure>
                        </div>
                    </article>
                </div>
            {% endif %}
            <!------COMMENT only------>

        
            <!------FOLLOW only------>
            {% if notification.notification_type == 3 %}
                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <a href="{% url 'profile' notification.sender %}">
                                    {% if notification.sender.profile.picture %}
                                        <img class="is-rounded" src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
                                    {% else %}
                                        <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">                              
                                    {% endif %}
                                </a>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <strong>{{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }}</strong> 
                                <small>@{{ notification.sender.username }}</small> 
                            <br>
                            <p><i class="material-icons">person_add</i> Followed you!</p>
                            <!--date formatting comes from humanize - imported in installed apps in settings.py and loaded below static at top of this file-->
                            <strong><small>{{ notification.date|naturaltime }}</small></strong>
                            </div>
                        </div>
                    </article>
                </div>
            {% endif %}
            <!------FOLLOW only------>


            <!------LIKE only------>
            {% if notification.notification_type == 1 %}
                <div class="notification">
                    <button class="delete"></button>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <a href="{% url 'profile' notification.sender %}">
                                    {% if notification.sender.profile.picture %}
                                        <img class="is-rounded" src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
                                    {% else %}
                                        <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">                              
                                    {% endif %}
                                </a>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <strong>{{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }}</strong> 
                                <small>@{{ notification.sender.username }}</small> 
                            <br>
                            <p><i class="material-icons">thumb_up</i> Liked your post!</p>
                            <strong><small>{{ notification.date|naturaltime }}</small></strong>
                            </div>
                        </div>

                        <!--Picture being commented on-->
                        <div class="media-right">
                            <figure class="image is-128x128">
                                <a href="{{ notification.post.get_absolute_url }}">
                                    <img src="{{ notification.post.picture.url }}">
                                </a>
                            </figure>
                        </div>
                    </article>
                </div>
            {% endif %}

        {% endfor %}
        <!------LIKE only------>


    </div>
</div>
{% endblock %}